@page
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<script src="./js/Common/initialize_setting.js"></script>
<div class="container-fluid py-4" id="divMainSettingDetail">
    <div class="row">
        <div class="col-12 position-relative z-index-2">
            <div class="card card-plain mb-4">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="h-100">
                                <h6 data-languagestatic="carrer_detail_header" class="mb-0">Dashboards</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card  mb-4">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Doctor</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            <span id="Dash_User_Doctor" countto="0">0</span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                        <i class="fa fa-user-md text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card  mb-4">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Patient</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            <span id="Dash_Price_Patient" countto="0">0</span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                        <i class="fa fa-users text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-3">
                    <div class="card  mb-4">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Appointment</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            <span id="Dash_User_Appointment" countto="0">0</span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                        <i class="fa fa-calendar-plus-o text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-3">
                    <div class="card  mb-4">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">Prescription</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            <span id="Dash_User_Prescription" countto="0">0</span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                        <i class="fa fa-plus-square text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="DashPriceServices" class="col-lg-5 position-relative z-index-2">
        </div>
        <div id="DashMedicineReport" class="col-lg-7 position-relative z-index-2">
        </div>
    </div>
</div>
<script src="./Assets/js/custom-validation.js"></script>
<script src="./Assets/js/plugins/threejs.js"></script>
<script src="./Assets/js/plugins/orbit-controls.js"></script>
<script type="text/javascript">
    var MasterDataMenu = [
          {
              "Name":"Dashboards"
              ,"Img":"fa fa-tachometer",
              "child":[
                  {"Name":"Role"
                    ,"ChildNode":[]
                    ,"Img":""
                    ,"Url":"@Url.Action("RoleUser","Home")"
                  }
                  ,{"Name":"EditRole"
                    ,"ChildNode":[]
                    ,"Img":""
                    ,"Url":"@Url.Action("EditRole","Mater")"
                  },
                  {"Name":"Chats"
                    ,"ChildNode":[]
                    ,"Img":""
                    ,"Url":"@Url.Action("Chat","ChatBots")"
                  }
              ]
          },
          {
              "Name":"Doctor"
              ,"Img":"fa fa-user-md",
              "child":[
                  {"Name":"Chats"
                    ,"ChildNode":[]
                    ,"Img":""
                    ,"Url":"@Url.Action("Chat","ChatBots")"
                  }
                  ,{"Name":"Calendar Schedule"
                    ,"ChildNode":[]
                    ,"Img":""
                    ,"Url":""
                  }
                  ,{"Name":"All Projects"
                    ,"ChildNode":[]
                    ,"Img":""
                    ,"Url":""
                  }
                  ,{"Name":"Account"
                    ,"ChildNode":[]
                    ,"Img":""
                    ,"Url":""
                  }
                  ,{"Name":"Security"
                    ,"ChildNode":[]
                    ,"Img":""
                    ,"Url":""
                  }
              ]
          },
          {
              "Name":"Patient"
              ,"Img":"fa fa-users"
              ,"child":[
                  {
                      "Name":"Kanban"
                      ,"ChildNode":[]
                      ,"Img":""
                      ,"Url":""
                  }
                  ,{
                      "Name":"Wizard"
                      ,"ChildNode":[]
                      ,"Img":""
                      ,"Url":""
                  }
                  ,{
                      "Name":"DataTables"
                      ,"ChildNode":[]
                      ,"Img":""
                      ,"Url":""
                  }
              ]
          },
          {
              "Name":"Nurse"
              ,"Img":"fa fa-user-md"
              ,"child":[
              ]
          }
          ,{
              "Name":"Pharmacist"
              ,"Img":"fa fa-graduation-cap"
              ,"child":[
                  {
                      "Name":"Overview"
                      ,"ChildNode":[]
                      ,"Img":""
                      ,"Url":""
                  }
                  ,{
                      "Name":"Products"
                      ,"ChildNode":[
                          {
                            "Name":"New Product"
                            ,"ChildNode":[]
                            ,"Url":""
                          }
                          ,{
                            "Name":"Edit Product"
                            ,"ChildNode":[]
                            ,"Url":""
                          }
                          ,{
                            "Name":"Product Page"
                            ,"ChildNode":[]
                            ,"Url":""
                          }
                      ]
                      ,"Img":""
                      ,"Url":""
                  }
                  ,{
                      "Name":"Orders"
                      ,"ChildNode":[
                         {
                            "Name":"Order List"
                            ,"ChildNode":[]
                            ,"Url":""
                          }
                          ,{
                            "Name":"Order Details"
                            ,"ChildNode":[]
                            ,"Url":""
                          }
                          ,{
                            "Name":"Order Trinh"
                            ,"ChildNode":[]
                            ,"Url":""
                          }
                      ]
                      ,"Img":""
                      ,"Url":""
                  }
                  ,{
                      "Name":"Referral"
                      ,"ChildNode":[]
                      ,"Img":""
                      ,"Url":""
                  }
              ]
          }
          ,{
              "Name":"Laboratorist"
              ,"Img":"fa fa-flask"
              ,"child":[]
          }
          ,{
              "Name":"Appointment"
              ,"Img":"fa fa-calendar-plus-o"
              ,"child":[]
          }
          ,{
              "Name":"Payment"
              ,"Img":"fa fa-money"
              ,"child":[]
          }
           ,{
              "Name":"Blood Bank"
              ,"Img":"fa fa-university"
              ,"child":[]
          }
          ,{
              "Name":"Medicine"
              ,"Img":"fa fa-medkit"
              ,"child":[]
          }
          ,{
              "Name":"Report"
              ,"Img":"fa fa-flag"
              ,"child":[
                  {
                      "Name":"Operation Report"
                      ,"ChildNode":[]
                      ,"Img":""
                      ,"Url":""
                  }
                  ,{
                      "Name":"Birth Report"
                      ,"ChildNode":[]
                      ,"Img":""
                      ,"Url":""
                  }
                  ,{
                      "Name":"Death Report"
                      ,"ChildNode":[]
                      ,"Img":""
                      ,"Url":""
                  }
                  ,{
                      "Name":"Default"
                      ,"ChildNode":[]
                      ,"Img":""
                      ,"Url":""
                  }
              ]
          }
          ,{
              "Name":"Settings"
              ,"Img":"fa fa-cogs"
              ,"child":[
                  {
                      "Name":"Noticeboard"
                      ,"ChildNode":[]
                      ,"Img":""
                      ,"Url":""
                  }
                  ,{
                      "Name":"Rom"
                      ,"ChildNode":[
                          {
                            "Name":"Bed Allotment"
                            ,"ChildNode":[]
                            ,"Url":""
                          }
                          ,{
                            "Name":"Manufacture"
                            ,"ChildNode":[]
                            ,"Url":""
                          }
                      ]
                      ,"Img":""
                      ,"Url":""
                  }
                  ,{
                      "Name":"Orders"
                      ,"ChildNode":[
                         {
                            "Name":"Order List"
                            ,"ChildNode":[]
                            ,"Url":""
                          }
                          ,{
                            "Name":"Order Details"
                            ,"ChildNode":[]
                            ,"Url":""
                          }
                          ,{
                            "Name":"Order Trinh"
                            ,"ChildNode":[]
                            ,"Url":""
                          }
                      ]
                      ,"Img":""
                      ,"Url":""
                  }
                  ,{
                      "Name":"Referral"
                      ,"ChildNode":[]
                      ,"Img":""
                      ,"Url":""
                  }
              ]
          }]
    const iconNavbarSidenav = document.getElementById('iconNavbarSidenav');
    const iconSidenav = document.getElementById('iconSidenav');
    const sidenav = document.getElementById('sidenav-main');
    let body = document.getElementsByTagName('body')[0];
    let className = 'g-sidenav-pinned';
    $(document).ready(function (){
        ShowMenuMater();
        CloseMneuMater();
        LoadDataUser();
       LoadMenuMater("sidenav-collapse-main");
        $("#Layout_EditUser").addClass('active');
         $("#Dashboards").addClass('show');
         eleClickMenuDash();
        LoadDataPriceServices();
        LoadTempMedicineReport();
    });
    //Load head dashboard
    function LoadDataUser(){
         AjaxLoad(url = "/api/Mater/LoadDataHeardDashBoard"
            , data = {
            }, async = true
           , error = function () { notiError_SW(); }
            , success = function (result) {
                if (result != "") {
                    let data=JSON.parse(result);
                    DashMasterCountUpNumber("Dash_User_Doctor",data[0].APPOINTMENT_COUNT);
                    DashMasterCountUpNumber("Dash_Price_Patient",data[0].DOCTOR_COUNT);
                    DashMasterCountUpNumber("Dash_User_Prescription",data[0].PATIENT_COUNT);
                    DashMasterCountUpNumber("Dash_User_Appointment",data[0].PRESCRIPTION_COUNT);
                    notiSuccess();
                }
                else{
                    notiError_SW();
                }
            });
    }
    // execute click child node menu dash
    function eleClickMenuDash(){
         var ele=document.querySelectorAll('.settingCollapse');
        ele.forEach((node) => {
            node.addEventListener("click", e => {
            removeActive(ele);
            if($("#"+e.target.children[1].innerText).hasClass("show")){
                $("#"+e.target.children[1].innerText).removeClass("show");
                document.getElementById(e.target.id).setAttribute("aria-expanded", false);
                e.target.querySelector('div').classList.remove("bg-gradient-light");
            }
            else{
                document.getElementById(e.target.id).setAttribute("aria-expanded", true);
                $("#"+e.target.children[1].innerText).addClass("show");
                e.target.querySelector('div').classList.add("bg-gradient-light");
            }
            })
        });
        var element=document.querySelectorAll('.Settingitem__item');
            element.forEach((node) => {
            node.addEventListener("click", e => {
            removeActive(element);
            $("#"+"Layout_"+e.target.children[1].innerText).addClass("show");
            document.getElementById(e.target.id).classList.add('active');
            $("#MainRenderBody").html('');
           
            $("#MainRenderBody").load("@Url.Action("Product","Products")");
            $('#MainRenderBody').show();
            e.preventDefault();
            
            //var urlPath=window.location.href.replace(window.location.pathname,("@Url.Action("Product","Products")"+ "?ver=" + versionofWebApplication));
            //window.history.pushState('urlPath','Title', urlPath);
        })
        });
    }
    function DashMasterCountUpNumber(id,valueCount){
        if (document.getElementById(id).hasAttribute("countTo")) {
                     document.getElementById(id).setAttribute("countTo", valueCount);
             };
        if (document.getElementById(id)) {
          const countUp = new CountUp(id, document.getElementById(id).getAttribute("countTo"));
          if (!countUp.error) {
            countUp.start();
          } else {
            console.error(countUp.error);
          }
        }
    }
    ////
    function ExecuteText(){
         $('#form_Career').form('validate form');
         if ($('#accountDetail').form('is valid')) {
         }
    }
    ///
    function LoadMenuMater(id){
        let stringContent = '';
        for(let i=0;i<MasterDataMenu.length;i++){
            let item=MasterDataMenu[i];
            let replaceDataCollapse='';
            if(item.child.length >0){
                replaceDataCollapse='data-bs-toggle="collapse" aria-controls='+item.Name+' role="button" aria-expanded="false"'
            }
            let tr ='<li class="nav-item">'
                    +'<a '+replaceDataCollapse+' id="'+item.Name+'collapse" class="nav-link cursor-pointer settingCollapse">'
                    +'<div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center me-2">'
                    +'<i class="'+item.Img+' text-secondary"></i>'
                    +'</div>'
                    +'<span class="">'+item.Name
                    +'</span>'
                    +'</a>'
                    + LoadChildMasterMenu(item.child,item.Name)
                    +'</li>';
          stringContent=stringContent+tr;
        }
         document.getElementById(id).innerHTML = stringContent;
    }
    function LoadChildMasterMenu(dataChild,id){
        let resulf  = '';
        if(dataChild.length >0){
            let tr ='<div class="collapse" id='+id+'>'
                     +'<ul class="nav ms-2 ps-3 me-2">'
            for(let i=0;i<dataChild.length;i++){
                 let coll='';
                 if(dataChild[i].ChildNode.length>0){
                     coll='data-bs-toggle="collapse"'
                 }
                var item=dataChild[i];
                tr += '<li class="nav-item Settingitem__item cursor-pointer">'
                    +'<a class="nav-link"'+coll+' id="Layout_'+item.Name+'">'
                    +'<span class="sidenav-mini-icon"> D </span>'
                    +'<span class="sidenav-normal">'+item.Name+'</span>'
                    +'</a>'
                    +LoadChildMasterMenu(dataChild[i].ChildNode,item.Name)
                    +'</li>'
            }
            resulf=resulf+tr+'</ul>'+'</div>';
        }
        return resulf;
    }
    function removeActive(element){
        element.forEach((node) => {
            if(node.children[0].classList.contains('active')){
                node.children[0].classList.remove('active');
            };
        });
    };
    function ShowMenuMater(){
        if (iconNavbarSidenav) {
            iconNavbarSidenav.addEventListener("click", toggleSidenav);
        }
    }
    function CloseMneuMater(){
        if (iconSidenav) {
            iconSidenav.addEventListener("click", toggleSidenav);
        }
    }
    function PopUpDetail(){
            $("#DetailModal_Content").html('');
            $("#DetailModal_Content").load("@Url.Action("ChangePass","Home")");
            $('#DetailModal').modal('show');
            return false;
    }
    function toggleSidenav() {
        if (body.classList.contains(className)) {
        body.classList.remove(className);
        setTimeout(function() {
            sidenav.classList.remove('bg-white');
        }, 100);
        sidenav.classList.remove('bg-transparent');

        } else {
        body.classList.add(className);
        sidenav.classList.add('bg-white');
        sidenav.classList.remove('bg-transparent');
        iconSidenav.classList.remove('d-none');
        }
    };
    //LoadDataPriceServices
    function LoadDataPriceServices(){
         $("#DashPriceServices").html('');
          $("#DashPriceServices").load("@Url.Action("PriceServices","Settings")");
       };
    //LoadTempMessages chatbots
    function LoadTempMedicineReport(){
        $("#DashMedicineReport").html('');
        $("#DashMedicineReport").load("@Url.Action("MedicineReport","Home")");
    };
</script>

<style>
    .navbar-vertical .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true]:after {
        color: #3a416f;
        transform: rotate(180deg);
    }

</style>