@page
@{
 Layout = null;
}
@Html.AntiForgeryToken()
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/js/Common/initialize_setting.js"></script>
<div class="container-fluid py-3 px-0 ">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div class="w-50 col-auto my-auto">
                            <div class="h-100">
                                <h6 data-languagedyn="div" id="headerBranch" class="mb-0">Chỉnh Sửa Thông Tin Đăng Nhập</h6>
                                <p data-languagestatic="" class="text-sm mb-0">
                                    Some text of detail sub
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-2">
                    <div class="col-12 p-1">
                        <div class="field col-12 p-1">
                            <label data-languagestatic="branch">Thong Tin</label>
                            <div class="ui fluid search selection dropdown form-control" id="RoleID" onchange="event.preventDefault(); Manu_OnChange_Load_Role();">
                                <input type="hidden" name="Role" />
                                <i class="dropdown icon"></i>
                                <input class="search" autocomplete="off" tabindex="0" />
                                <div class="default text"></div>
                                <div id="cbbRole" class="menu" tabindex="-1">
                                </div>
                            </div>
                        </div>
                        <div class="p-1 row">
                            <div class="col-12 col-md-2 col-xl-1 flex-grow-1 me-5 ">
                                <div class="btn-group">
                                    <a class="_tab_control_ btn btn-dark border-start border-light btn-sm px-3" onclick="event.preventDefault(); return Manu_LevelAdd()" data-tab="add_tab_payment_return">
                                        <i class="ni text-white vtt-icon vttech-icon-add"></i>
                                    </a>
                                    <a class="_tab_control_ btn btn-dark border-start border-light btn-sm px-3 text-sm text-secondar" onclick="event.preventDefault(); return Manu_ShowTreeItemAll()" data-tab="add_tab_payment_service">
                                        ALL
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-md-10 col-xl-10 flex-grow-1" id="Role_Floor">
                            </div>
                        </div>

                    </div>
                    <div class="ms-2 p-1 col-12" id="tree_item">
                        <div class="timeline timeline-one-side" id="Role_TreeDetail">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
       window.onbeforeunload = function() {
         $.get("/api/Home/KeepAlive", function (data) { });
}
        var MasterDataMenu=[
              {
                  "Name":"Dashboards"
                  ,"Img":"",
                  "child":[
                      {"Name":"EditUser"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":"@Url.Action("EditUser","Home")"
                      }
                      ,{"Name":"Role"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":"@Url.Action("EditUser","Home")"
                      }
                      ,{"Name":"Smart Home"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":"@Url.Action("EditUser","Home")"
                      }
                      ,{"Name":"Virtual Reality"
                        ,"ChildNode":[]
                      }
                      ,{"Name":"CRM"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":"@Url.Action("EditUser","Home")"
                      }
                  ]
              },
              {
                  "Name":"Pages"
                  ,"Img":"",
                  "child":[
                      {"Name":"Overview"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":""
                      }
                      ,{"Name":"Teams"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":""
                      }
                      ,{"Name":"All Projects"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":""
                      }
                      ,{"Name":"Users"
                        ,"ChildNode":[{
                            "Name":"Reports"
                            ,"ChildNode":[]
                            ,"Url":""
                        },
                        {
                            "Name":"New User"
                            ,"ChildNode":[]
                            ,"Url":""
                        }
                        ]
                      }
                      ,{"Name":"Account"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":""
                      }
                      ,{"Name":"Settings"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":""
                      }
                      ,{"Name":"Billing"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":""
                      }
                      ,{"Name":"Invoice"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":""
                      }
                      ,{"Name":"Security"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":""
                      }
                      ,{"Name":"Projects"
                        ,"ChildNode":[
                            {
                            "Name":"General"
                            ,"ChildNode":[]
                            ,"Url":"@Url.Action("RoleUser","Home")"
                            },
                            {
                                "Name":"New User"
                                ,"ChildNode":[]
                                ,"Url":"@Url.Action("RoleUser","Home")"
                            }
                            ,
                            {
                                "Name":"New Project"
                                ,"ChildNode":[]
                                ,"Url":"@Url.Action("RoleUser","Home")"
                            },
                            {
                                "Name":"Trinh020"
                                ,"ChildNode":[]
                                ,"Url":"@Url.Action("RoleUser","Home")"
                            }
                          ]
                        ,"Img":""
                        ,"Url":""
                      }
                      ,{"Name":"Pricing Page"
                        ,"ChildNode":[]
                        ,"Img":""
                      }
                      ,{"Name":"Messages"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":""
                      }
                      ,{"Name":"RTL"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":""
                      }
                       ,{"Name":"Widgets"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":""
                      }
                      ,{"Name":"Charts"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":""
                      }
                      ,{"Name":"Sweet Alerts"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":""
                      }
                      ,{"Name":"Notifications"
                        ,"ChildNode":[]
                        ,"Img":""
                        ,"Url":""
                      }
                  ]
              },
              {
                  "Name":"Applications"
                  ,"Img":""
                  ,"child":[
                      {
                          "Name":"Kanban"
                          ,"ChildNode":[]
                          ,"Img":""
                          ,"Url":""
                      }
                      ,{
                          "Name":"Wizard"
                          ,"ChildNode":[]
                          ,"Img":""
                          ,"Url":""
                      }
                      ,{
                          "Name":"DataTables"
                          ,"ChildNode":[]
                          ,"Img":""
                          ,"Url":""
                      }
                      ,{
                          "Name":"Calendar"
                          ,"ChildNode":[]
                          ,"Img":""
                          ,"Url":""
                      }
                      ,{
                          "Name":"Analytics"
                          ,"ChildNode":[]
                          ,"Img":""
                          ,"Url":""
                      }
                  ]
              },
              {
                  "Name":"Ecommerce"
                  ,"Img":""
                  ,"child":[
                  ]
              }
              ,{
                  "Name":"Authentication"
                  ,"Img":""
                  ,"child":[
                      {
                          "Name":"Overview"
                          ,"ChildNode":[]
                          ,"Img":""
                          ,"Url":""
                      }
                      ,{
                          "Name":"Products"
                          ,"ChildNode":[
                              {
                                "Name":"New Product"
                                ,"ChildNode":[]
                                ,"Url":""
                              }
                              ,{
                                "Name":"Edit Product"
                                ,"ChildNode":[]
                                ,"Url":""
                              }
                              ,{
                                "Name":"Product Page"
                                ,"ChildNode":[]
                                ,"Url":""
                              }
                          ]
                          ,"Img":""
                          ,"Url":""
                      }
                      ,{
                          "Name":"Orders"
                          ,"ChildNode":[
                             {
                                "Name":"Order List"
                                ,"ChildNode":[]
                                ,"Url":""
                              }
                              ,{
                                "Name":"Order Details"
                                ,"ChildNode":[]
                                ,"Url":""
                              }
                              ,{
                                "Name":"Order Trinh"
                                ,"ChildNode":[]
                                ,"Url":""
                              }
                          ]
                          ,"Img":""
                          ,"Url":""
                      }
                      ,{
                          "Name":"Referral"
                          ,"ChildNode":[]
                          ,"Img":""
                          ,"Url":""
                      }
                  ]
              }
              ,{
                  "Name":"Basic"
                  ,"Img":""
                  ,"child":[]
              }
              ,{
                  "Name":"Changelog"
                  ,"Img":""
                  ,"child":[]
              }];
         $(document).ready(function () {
                 if(validateAuthor("admin") !=0){
                     window.location.href = '/ErrorAuthorize'
                 }
                 else{
                        EditMater_Render_Level_Floor(MasterDataMenu,"#Role_Floor");
                        Load_Combo(data, "cbbRole", true);
                     $('#Role_Floor').on('click', '.buttonShowClick', function () {
                        $('.buttonShowClick').each(function (e) {
                            $(this).removeClass('bg-gradient-light');
                        });
                         $(this).addClass('bg-gradient-light');
                        RenderDetail_Tree(MasterDataMenu, "Role_TreeDetail",$(this).attr('data-id'));
                    });
                 };
         });
         
           function EditMater_Render_Level_Floor(data, id) {
            $(id).empty();
            let stringcontent = "";
            for (let i = 0; i < data.length; i++) {
                let item = data[i];
                let tr = '<div class="cursor-pointer floor border-dashed border-1 border-secondary border-radius-md d-inline-flex align-items-center justify-content-center me-2 mb-2 buttonShowClick" data-id="' + item.Name + '" data-floor="' + item.Name + '">'
                    + '<i dataid=' + item.Name + ' class="fas fa-cog text-dark text-xs mx-2 levelDetail" title="Chi Tiết Tầng"></i>'
                    + '<h6 class="font-weight-bold my-2"><a class="text-primary" id="fl' + item.Name + '">' + item.Name + '</a></h6>'
                    + '<i dataid=' + item.Name + ' class="vtt-icon vttech-icon-add text-dark mx-2 text-xs addroom" title="Thêm Phòng"></i>'
                    + '</div>'
                stringcontent += tr;
            }
            $(id).html(stringcontent);
        }
        function RenderDetail_Tree(data1, id,name) {
            let myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data1 && data1.length > 0) {
                    let dataEdit = data1.filter(word => word.Name == name);
                    for (let j = 0; j < dataEdit[0].child.length; j++) {
                        let item_room = dataEdit[0].child[j];
                        let tr = '<div class="timeline-block mb-3 mx-2">'
                            + '<span class="timeline-step">'
                            + '<div class="icon icon-shape icon-sm ms-n2 me-0 bg-gradient-dark shadow text-center">'
                            + '<i class="text-lg fab fa-servicestack"></i>'
                            + '</div>'
                            + '</span>'
                            + '<div class="timeline-content" style="max-width:100%;">'
                            + '<div class="d-flex">'
                            + '<i dataid=' + item_room.Name + ' class="cursor-pointer fas fa-cog text-dark mx-2 text-xs mt-1 roomDetail" title="Chi Tiết Phòng"></i>'
                            + '<h6 class="text-dark font-weight-bold mb-2"><a id="fl' + item_room.Name + '">' + item_room.Name + '</a></h6>'
                            + '<i dataid=' + item_room.Name + ' class="cursor-pointer vtt-icon vttech-icon-add mx-2 text-dark text-xs addchair" title="Thêm Giường/Ghế"></i>'
                            + '</div>'
                            + '<div class="row">'
                            + EditMater_Render_Layout(item_room.ChildNode)
                            + '</div>'
                            + '</div>'
                            + '</div>';
                        stringContent = stringContent + tr;
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
            }
        }
         function EditMater_Render_Layout(item_Child) {
            let res = '';
            if (item_Child && item_Child.length > 0) {
                for (let i = 0; i < item_Child.length; i++) {
                    let item = item_Child[i];
                    let tr =
                        '<div class="text-dark col col mt-lg-0 my-3" data-id="' + item.Name + '" id="room_' + item.Name + '">'
                        + '<div class="roomContent p-2 w-100 border-dashed border-1 border-secondary border-radius-md h-100">'
                        + '<div class="d-flex align-items-center justify-content-center">'
                        + '<i dataid=' + item.Name + ' class="fas fa-cog text-dark text-xs me-2 chairDetail" title="title="Chi Tiết Giường/Ghế""></i>'
                        + '<p class="mb-0 font-weight-bold">' + item.Name + '</p>'
                        + '</div>'
                        + '<span class="d-block text-sm font-weight-bold " id="room_cust_' + item.Name + '"></span>'
                        + '<hr class="horizontal dark my-1 d-none">'
                        + '<div class="author align-items-center d-none">'
                        + '<img class="avatar avatar-sm" id="room_doctor_img_' + item.Name + '" src="">'
                        + '<div class="name ps-3">'
                        + '<div class="stats">'
                        + '<span class="d-block text-sm" id="room_doctor_name_' + item.Name + '"></span>'
                        + '<span class="room_time" id="room_time_' + item.Name + '"> </span>'
                        + '</div>'
                        + '</div>'
                        + '</div>'
                        + '</div></div>';
                    res = res + tr;
                }}
            return res;
        }
     function Load_Combo(dt, id, isRequire, allItem) {
        let data = dt;
        if (isRequire != undefined) {
            if (allItem != undefined) {
                if (data != undefined && data.length >= 1) {
                    let item_all = JSON.parse(JSON.stringify(data[0]));
                    if (item_all.ID != undefined && item_all.Name != undefined && item_all.ID != 0) {
                        item_all.ID = 0;
                        item_all.Name = allItem;
                        if (item_all.Icon != undefined) item_all.Icon = '';
                        if (item_all.Avatar != undefined) item_all.Avatar = '';
                        data = [item_all].concat(data);
                    }
                }
            }
            let myNode = document.getElementById(id);
            if (myNode != null) {
                myNode.innerHTML = '';
                let stringContent = '';
                if (data && data.length > 0) {
                    for (let i = 0; i < data.length; i++) {
                        let item = data[i];
                        let icon = (item.Icon != undefined && item.Icon != '') ? ('<i class="' + item.Icon + '"></i>') : '';
                        let avatar = (item.Avatar != undefined && item.Avatar != '')
                            ? ('<img style="width:15px; height:15px;" src="data:image/png;base64,' + ((item.Avatar != "") ? item.Avatar : Master_Default_Image) + '" alt="label-image">')
                            : '';
                        let tr =
                            '<div class="item" data-value=' + item.ID + '>' + icon + avatar + item.Name + '</div>'
                        stringContent = stringContent + tr;
                    }
                }
                document.getElementById(id).innerHTML = stringContent;
                OnCombo_FillOption(id, data, isRequire);
            }
            if (allItem != undefined && data.length >= 1) return 0;
        }
    }
</script>